In [9]:
import pandas as pd

In [2]:
df_servicos = pd.read_csv("../dados/servico_setembro_pr_maringa.txt")
df_tecnicos = pd.read_csv("../dados/tecnicos_setor_pr_maringa.txt", sep=";")

# Serviços

In [3]:
df_servicos.shape

(1394, 16)

In [4]:
df_servicos.head(2)

,ba,uf,municipio,matricula_tecnico,id_venda,setor,dt_abertura_ba,dt_inicio_execucao,dt_fim_execucao,instalado,logradouro,numero,bairro,cep,latitude,longitude
0,SA-3461636,PR,MARINGA,EXTERNO,8ED9C85A98912778786B 0001,PR.MGA.MGA.11,2023-09-15 18:38:18.000000 UTC,2023-09-18 15:56:58.000000 UTC,2023-09-18 16:56:58.000000 UTC,NAO,RUA PIONEIRO JOSÉ POPPI,453,PARQUE RESIDENCIAL ELDORADO,87025590,-23.391438,-51.923936
1,SA-3430495,PR,MARINGA,EXTERNO,83BCC0DE52E0A2505695 0000,PR.MGA.MGA.11,2023-09-14 12:17:34.000000 UTC,2023-09-15 15:41:42.000000 UTC,2023-09-15 16:41:42.000000 UTC,NAO,RUA VEREADOR ARLINDO DE SOUZA,270,JARDIM MONTE CARLO,87080380,-23.410854,-51.958371

# Técnicos

In [5]:
df_tecnicos.shape

(46, 4)

In [6]:
df_tecnicos.head(2)

   uf municipio matricula_tecnico          setor
0  PR   MARINGA          TR002403  PR.MGA.MGA.11
1  PR   MARINGA          TR002513  PR.MGA.MGA.11

# Conclusões

In [7]:
print("Número de técnicos: " + str(df_tecnicos.shape[0]))

Número de técnicos: 46

In [8]:
print("Média de serviços que um técnico faz por mês: " + str(df_servicos.shape[0] / df_tecnicos.shape[0])[:5])

Média de serviços que um técnico faz por mês: 30.30

A produtividade em Maringá aparenta ser mais do que o dobro da produtividade em Curitiba.